h1 {
  color: lightpink;
  text-decoration: 3px overline 
    underline;
  letter-spacing: 1px;
  word-spacing: 15px;
}

body {
  backround-color: antiquewhite;
}

img:hover {
  width: 300px;
  border: purple dotted 10px;
  border-radius: 70%
}

h1:hover {
  font-size: 220%;
  text-transform: uppercase;
  text-decoration: wavy underline pink;
}


nav {
  list-style-type: none;
  width: 100%;
  background-color: lavender;
  position: fixed;
  top: 0;
  left: 0;
}

li a {
  color: white;
  text-decoration: none;
  display: block;
  float: left;
  padding: 15px 50px;
}

li a:hover {
  background-color: pink;
  color: white;
}
